@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'BioRhyme', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'BioRhyme', serif;  
}

.navbar{
  background-color: #fff;
  color: #000;
}
.navLink{
  color: rgba(0,0,0,1);  ;
  font-weight: 700;
}